{{define "filter"}}
{{range .Cat}}
<form method="GET" action="/filtered-home"> 
     <div class="filter-categories">
         <input type="submit" class="categories-button" name="category" value="{{.Name}}">
     </div>
</form>
{{end}}

<form action="/filtered-home" method="GET">
    <button type="submit" name="userId" value="{{.UserID}}">My Posts</button>
</form>

<form action="/filtered-sentiments" method="GET">
    <div class="filter-user">
        <button type="submit" name="filter" value="love">My Loves</button>
        <button type="submit" name="filter" value="hate">My Hates</button>
    </div>
</form>
{{end}}
